# WEP24-MLB: The Basics of Programming in Python

## Basic concepts

### Basic data types and operators


Declaring a variable can be done by assigning a value to that variable directly. 
Python will select the best data type for the variable depending on the data.

In [ ]:
'''
TODO: define a variable to hold the value 12 and print the value and 
the type of the variable
'''

In [ ]:
'''
TODO: define a variable to hold the value 3.14 and print the value and 
the type of the variable
'''

In [ ]:
'''
TODO: define a variable to hold the value "ML for Beginners" and 
print the value and the type of the variable
'''

In [ ]:
import math
'''
TODO: perform mathematical operations on some values, using the operators 
+, -, *, /, %, **
You may also try the function floor or ceil 
'''

In [ ]:
'''
TODO: can you add a number and string? 
'''
x = 2
course = 'MLB'

In [ ]:
'''
TODO: start by converting the number to string 
'''
x = str(2)
course = 'MLB'

In [ ]:
# what about % operation

In [ ]:
'''
TODO: initialize multiple variable in single statement
'''

In [ ]:
'''
TODO: try accessing the value of a variable that hasn't been initialized 
(e.g. print(CEMSE))
'''
print(CEMSE)

In [ ]:
'''
TODO: now, assign a value to CEMSE before printing it
'''

### Compound data types
When we have records with multiple values, we can use compound data types such as 
arrays, lists, sets, tuples, and dictionaries

In [ ]:
''' TODO: define a variable to hold the information of a student using Lists.
The information include:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
tot_credits = 24
'''


# Print the content and the type of the variable

In [ ]:
''' TODO: define a variable to hold the information of a student using Tuples.
The information include:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
tot_credits = 24
'''


# Print the content and the type of the variable

In [ ]:
''' TODO: define a variable to hold the information of a student using Sets.
The information include:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
tot_credits = 24
'''


# Print the content and the type of the variable

**Exercise:** To see the difference between `Lists`, `Sets` and `Tuples`, 
use each data type to store the following record where you have the same value 
for the age and the tot_credits.

In [ ]:
''' TODO: define a variable to hold the information of a student using List, 
Tuple and Set. This time add the age field:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
age = 24
tot_credits = 24
'''


# Print the content and the type of the variable. Do you see anything strange

In [ ]:
''' TODO: what if I would like to give names to the values 
'name':'Erik Smulders'
'id':12345
'dept':'Physics'
'credits':24
'''

s = ?'name':'Erik Smulders', 'id':12345, 'dept':'Physics', 'credits':24?

In [ ]:
''' 
TODO: can we use an array to store the same information?
e.g. use ['Erik Smulders', 12345, 'Physics', 24] as an array. 
Can you tell what happened in this case? 
'''

In [ ]:
'''
TODO: use the code in the slides to decare a 2D array 
_2d = np.array ([[1, 2, 3], [4, 5, 6]])
'''
import numpy as np

In [ ]:
# TODO: Test the code and comment on the output
mat1 = np.matrix ([[1, 2, 3], [4, 5, 6]])
mat2 = np.matrix ('1, 2, 3; 4, 5, 6')
mat1, mat2

In [ ]:
'''
TODO: compute statistical quantities of interest 
(mean, standard deviation and median) of the values in the array:
a = np.array ([1, 2, 3, 4, 5, 6])
'''

### Conditions 

Conditions can be used to run a specific code when the condition is evaluated to TRUE

In [ ]:
# Using conditions: check if x and y have the same value
x = 2
y = 3

In [ ]:
'''
TODO: check if the value of x is 2 and print 'two'. 
If x is different, print 'different number' 
(pay attention to the indentation in the code)
'''

#### Loops
Loops allow to run piece of code multiple times without the need to rewrite the code

In [ ]:
'''
TODO: use loop to print each field in the student's info on a separate line
'''

In [ ]:
'''
TODO: Can you do the same using the dictionary 
'''
student = {'name':'Erik Smulders', 'id':12345, 'dept':'Physics', 'credits':24}
for key in student.keys():
    print(key, ' = ', student[key])

In [ ]:
# TODO: Can you do the same using the items() function of dictionary?

In [ ]:
# TODO: what about using inline for loop?

## Pandas DataFrames

### Creating DataFrames

We start by importing the necessary libraries

In [ ]:
import pandas as pd
import csv

In [ ]:
# creating a dataframe from pandas series
data = {'State': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'Year': [2000, 2001, 2002, 2001, 2002, 2003],
 'Population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df1 = pd.DataFrame(data)
df1

In [ ]:
# creating a dataframe from data List of Lists
data = [['Ohio', 2000, 1.5], ['Ohio', 2001, 1.7], ['Ohio', 2002, 3.6],
        ['Nevada', 2001, 2.4],['Nevada', 2002, 2.9], ['Nevada', 2003, 3.2]]
cols = ['State', 'Year', 'Population']
df2 = pd.DataFrame(data, columns = cols)
df2

In [ ]:
# creating a dataframe using data stored in a csv file

df3 = pd.read_csv(filepath_or_buffer = 'sample_data/california_housing_train.csv', 
                  delimiter=',', doublequote=True, quotechar='"',
                  na_values = ['na', '-', '.', ''], quoting=csv.QUOTE_ALL, 
                  encoding = "ISO-8859-1")
df3

### DataFrames: Extracting parts and displaying statistics

In [ ]:
# TODO: display the first row (record) of the table in the dataframe df2

In [ ]:
# TODO: print the number of columns and the number of rows in df2

In [ ]:
# TODO: print the names of the columns of the df2

In [ ]:
# TODO: access the column 'State' of df2 in two different ways

For the next exercises, use df3

In [ ]:
# TODO: print the number of columns and the number of rows in df3

In [ ]:
# TODO: Display the index and the the data types of the columns in the dataframe

In [ ]:
# TODO: disply the first n rows from the dataframe
n = 5

In [ ]:
# TODO: disply the last n rows from the dataframe
n = 5

In [ ]:
# TODO: display the rows 2:5 of the dataframe

In [ ]:
# TODO: display the columns 2:5 of the dataframe

In [ ]:
# TODO: display the records when 'total_rooms' is greater than or equal to 10000

In [ ]:
'''
TODO: display the columns 'total_bedrooms', 'population', and 'median_income'
for the buildings with 'total_rooms' greater than or equal to 10000
'''

In [ ]:
'''
TODO: display the number of unique values in column 'housing_median_age'
'''

In [ ]:
'''
TODO: use for loop to print the name and the number of unique values in each column
'''

#### checking the data type of each column

In [ ]:
# TODO: display the type of each column

In [ ]:
'''
TODO: print the min, max, average and standard deviation of 
the attributes with numerical values
'''

# Visualization

In [ ]:
# TODO: import the required library
import matplotlib.pyplot as plt

Use:
```
font_size = 16               # you can use the size that would be readable easily
plt.rcParams.update({'font.size': font_size})
fig, ax = plt.subplots()
```

to have bigger and visible font. The `ax` variable can be used for more control options on the figure.

### Scatter Plot

In [ ]:
'''
TODO: plot the 'total_rooms' on the x-axis and 
'total_bedrooms' on the y-axis as scatter plot
'''
font_size = 16               # you can use the size that would be readable easily
plt.rcParams.update({'font.size': font_size})
fig, ax = plt.subplots()

xs = df3.total_rooms
ys = df3.total_bedrooms

### Line Plot

In [ ]:
# TODO: plot the fowllowing variables with thick red line
xs = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
ys = [x**2 for x in xs]

### Bar Plot

In [ ]:
'''
TODO: plot the following variables as bars and change the color of each bar
Save your plot as pdf 
'''
xs = [1, 2, 3, 4, 5]
ys = [3, 2, 4, 2, 8]

**Exercise:** Try the code in the slides to plot the following data as Pie Chart

In [ ]:
xs = ['AMCS', 'CS', 'EE', 'B', 'CBRC']
ys = [10, 25, 55, 15, 5]