# WEP24-MLB: The Basics of Programming in Python

## Basic concepts

### Basic data types and operators


Declaring a variable can be done by assigning a value to that variable directly. 
Python will select the best data type for the variable depending on the data.

In [ ]:
'''
TODO: define a variable to hold the value 12 and print the value and 
the type of the variable
'''
x = 11
x, type(x)

In [ ]:
'''
TODO: define a variable to hold the value 3.14 and print the value and 
the type of the variable
'''
pi = 3.14
pi, type(pi)

In [ ]:
'''
TODO: define a variable to hold the value "ML for Beginners" and 
print the value and the type of the variable
'''
y = 'ML for Beginners'
y, type(y)

In [ ]:
import math
'''
TODO: perform mathematical operations on some values, using the operators 
+, -, *, /, %, **
You may also try the function floor or ceil 
'''

w = 3
z = x / w 
f = math.floor(4.8)
c = math.ceil(4.2)
print ('z = ', z)
# We can display a few decimal places only using the round function
print ('z = ', round(z, 2))
print ('floor(4.8) = ', f)
print ('ceiling(4.2) = ', c)

# ** is the operator to find the power e.g. 2**3 = 2*2*2 = 8
print('2 to the power 5 is: ', 2 ** 5)

In [ ]:
'''
TODO: can you add a number and string? 
'''
code = 101
course = 'MLB'
course + code     # This will give an error

In [ ]:
'''
TODO: start by converting the number to string 
'''
code = str(101)
course = 'MLB'
course + code

In [ ]:
# what about % operation 
3 % 5, 5 % 3             # % operator computes the reminder of the division

In [ ]:
'''
TODO: initialize multiple variable in single statement
'''
x , y, w = 2, 5, 8
print(x , y , w)
x, y = y, x
print(x , y , w)

In [ ]:
'''
TODO: try accessing the value of a variable that hasn't been initialized 
(e.g. print(CEMSE))
'''
print(CEMSE)

In [ ]:
'''
TODO: now, assign a value to CEMSE before printing it
'''
CEMSE = 'Computer, Electrical and Mathematical Sciences and Engineering Division'
print(CEMSE)

### Compound data types
When we have records with multiple values, we can use compound data types such as 
arrays, lists, sets, tuples, and dictionaries

In [ ]:
''' TODO: define a variable to hold the information of a student using Lists.
The information include:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
tot_credits = 24
'''
mylist = ['Erik Smulders', 12345, 'Physics', 24]
# Print the content and the type of the variable  
mylist, type(mylist)

In [ ]:
''' TODO: define a variable to hold the information of a student using Tuples.
The information include:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
tot_credits = 24
'''
t = ('Erik Smulders', 12345, 'Physics', 24)
# Print the content and the type of the variable  
t, type(t)

In [ ]:
''' TODO: define a variable to hold the information of a student using Sets.
The information include:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
tot_credits = 24
'''
s = {'Erik Smulders', 12345, 'Physics', 24}
# Print the content and the type of the variable  
s, type(s)

**Exercise:** To see the difference between `Lists`, `Sets` and `Tuples`, 
use each data type to store the following record where you have the same value 
for the age and the tot_credits.

In [ ]:
''' TODO: define a variable to hold the information of a student using List, 
Tuple and Set. This time add the age field:
name = 'Erik Smulders'
ID = 12345
dept_name = 'Physics'
age = 24
tot_credits = 24
'''
nl = ['Erik Smulders', 12345, 'Physics', 24, 24]
nt = ('Erik Smulders', 12345, 'Physics', 24, 24)
ns = {'Erik Smulders', 12345, 'Physics', 24, 24}
# Print the content and the type of the variable. Do you see anything strange
print(nl)
print(nt)
print(ns)

In [ ]:
''' TODO: what if I would like to give names to the values 
'name':'Erik Smulders'
'id':12345
'dept':'Physics'
'credits':24
'''
s = {'name':'Erik Smulders', 'id':12345, 'dept':'Physics', 'credits':24}
s, type(s)

In [ ]:
''' 
TODO: can we use an array to store the same information?
e.g. use ['Erik Smulders', 12345, 'Physics', 24] as an array. 
Can you tell what happened in this case? 
'''
import numpy as np
ar = np.array(['Erik Smulders', 12345, 'Physics', 24])
ar, type(ar)

all the fields are having the same type (string)

In [ ]:
'''
TODO: use the code in the slides to decare a 2D array 
_2d = np.array ([[1, 2, 3], [4, 5, 6]])
'''
_2d = np.array ([[1, 2, 3], [4, 5, 6]])
_2d

In [ ]:
# TODO: Test the following code and comment on the output
mat1 = np.matrix ([[1, 2, 3], [4, 5, 6]])
mat2 = np.matrix ('1, 2, 3; 4, 5, 6')
mat1, mat2

In [ ]:
'''
TODO: compute statistical quantities of interest 
(mean, standard deviation and median) of the values in the array:
a = np.array ([1, 2, 3, 4, 5, 6])
'''
a = np.array ([1, 2, 3, 4, 5, 6])
print(a.mean(), round(a.std(), 2), np.median(a), a.min(), a.max())
print(np.mean(a), round(np.std(a), 2), np.median(a), np.min(a), np.max(a))

### Conditions 

Conditions can be used to run a specific code when the condition is evaluated to TRUE

In [ ]:
# Using conditions: check if x and y have the same value
x = 2
y = 3
x == y

In [ ]:
'''
TODO: check if the value of x is 2 and print 'two'. 
If x is different, print 'different number' 
(pay attention to the indentation in the code)
'''
if x == 2:
  print('two')
else:
  print('different number')

#### Loops
Loops allow to run piece of code multiple times without the need to rewrite the code

In [ ]:
'''
TODO: use loop to print each field in the student's info on a separate line
'''
student = ['Erik Smulders', 12345, 'Physics', 24, 24]
for item in student:
    print(item)

In [ ]:
'''
TODO: Can you do the same using the dictionary? 
'''
student = {'name':'Erik Smulders', 'id':12345, 'dept':'Physics', 'credits':24}
for key in student.keys():
    print(key, ' = ', student[key])

In [ ]:
# TODO: Can you do the same using the items() function of dictionary?
student = {'name':'Erik Smulders', 'id':12345, 'dept':'Physics', 'credits':24}
for key, value in student.items():
    print(key, ' = ', value)

In [ ]:
# TODO: what about using inline for loop?
[student[key] for key in student.keys()]

## Pandas DataFrames

### Creating DataFrames

We start by importing the necessary libraries

In [ ]:
import pandas as pd
import csv

In [ ]:
# creating a dataframe from pandas series
data = {'State': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'Year': [2000, 2001, 2002, 2001, 2002, 2003],
 'Population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df1 = pd.DataFrame(data)
df1

In [ ]:
# creating a dataframe from data List of Lists
data = [['Ohio', 2000, 1.5], ['Ohio', 2001, 1.7], ['Ohio', 2002, 3.6],
        ['Nevada', 2001, 2.4],['Nevada', 2002, 2.9], ['Nevada', 2003, 3.2]]
cols = ['State', 'Year', 'Population']
df2 = pd.DataFrame(data, columns = cols)
df2

In [ ]:
# creating a dataframe using data stored in a csv file

df3 = pd.read_csv(filepath_or_buffer = 'california_housing_train.csv', 
                  delimiter=',', doublequote=True, quotechar='"',
                  na_values = ['na', '-', '.', ''], quoting=csv.QUOTE_ALL, 
                  encoding = "ISO-8859-1")
df3

### DataFrames: Extracting parts and displaying statistics

In [ ]:
# TODO: display the first row (record) of the table in the dataframe df2
df2.loc[0]

In [ ]:
# TODO: print the number of columns and the number of rows in df2
print('number of columns = ', len(df2.columns))
print('number of rows = ', len(df2))

In [ ]:
# TODO: print the names of the columns of the df2
df2.columns

In [ ]:
# TODO: access the column 'State' of df2 in two different ways
df2.State

In [ ]:
df2['State']

For the next exercises, use df3

In [ ]:
# TODO: print the number of columns and the number of rows in df3
len(df3.columns), len(df3)

In [ ]:
# TODO: Display the index and the data types of the columns in the dataframe
df3.info()

In [ ]:
# TODO: disply the first n rows from the dataframe
n = 5
df3.head(n)

In [ ]:
# TODO: disply the last n rows from the dataframe
n = 5
df3.tail(n)

In [ ]:
# TODO: display the rows 2:5 of the dataframe
df3.loc[2:5,]

In [ ]:
# TODO: display the columns 2:5 of the dataframe
df3.iloc[:,2:5]

In [ ]:
# TODO: display the records when 'total_rooms' is greater than or equal to 10000
df3.loc[(df3['total_rooms'] >= 10000)]

In [ ]:
'''
TODO: display the columns 'total_bedrooms', 'population', and 'median_income'
for the buildings with 'total_rooms' greater than or equal to 10000
'''
df3.loc[(df3['total_rooms'] >= 10000), ['total_bedrooms', 'population', 'median_income']]

In [ ]:
'''
TODO: display the number of unique values in column 'housing_median_age'
'''
df3.housing_median_age.unique()

In [ ]:
'''
TODO: use for loop to print the name and the number of unique values in each column
'''
for col in df3.columns:
    print(col, ' has ', len(df3[col].unique()), ' unique values')

#### checking the data type of each column

In [ ]:
# TODO: display the type of each column
df3.dtypes

In [ ]:
'''
TODO: print the min, max, average and standard deviation of 
the attributes with numerical values
'''
for col in df3.columns:
    if not (df3.dtypes[col] == 'object'):
        print(col, df3[col].min(), df3[col].max(), 
              round(df3[col].mean(), 2), round(df3[col].std(), 2))

# Visualization

In [ ]:
# TODO: import the required library
import matplotlib.pyplot as plt

Use:
```
font_size = 16               # you can use the size that would be readable easily
plt.rcParams.update({'font.size': font_size})
fig, ax = plt.subplots()
```

to have bigger and visible font. The `ax` variable can be used for more control options on the figure.

### Scatter Plot

In [ ]:
'''
TODO: plot the 'total_rooms' on the x-axis and 
'total_bedrooms' on the y-axis as scatter plot
'''
font_size = 16               # you can use the size that would be readable easily
plt.rcParams.update({'font.size': font_size})
fig, ax = plt.subplots()

xs = df3.total_rooms
ys = df3.total_bedrooms

plt.scatter(xs, ys)
plt.show()

### Line Plot

In [ ]:
# TODO: plot the fowllowing variables with thick red line
xs = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
ys = [x**2 for x in xs]

plt.plot(xs, ys, linewidth = 5, color = 'r')
plt.xlabel('x')
plt.ylabel('y')
plt.show()

### Bar Plot

In [ ]:
'''
TODO: plot the following variables as bars and change the color of each bar
Save your plot as pdf 
'''
xs = [1, 2, 3, 4, 5]
ys = [3, 2, 4, 2, 8]

colors = ['b', 'k', 'r', 'g', 'c']
plt.bar(xs, ys, color = colors, edgecolor = "black")
plt.savefig('barPlot.pdf', bbox_inches = 'tight')
plt.show()

**Exercise:** Try the code in the slides to plot the following data as Pie Chart

### Pie Chart

In [ ]:
xs = ['AMCS', 'CS', 'EE', 'B', 'CBRC']
ys = [10, 25, 55, 15, 5]

plt.pie(ys, labels = xs, autopct='%1.1f%%')
plt.savefig('pieChart.pdf', bbox_inches = 'tight')
plt.show()

### The exercise from the slides

In [ ]:
fig, ax = plt.subplots(figsize=(6,6))

major = ['AMCS', 'CS', 'ECE', 'STAT']  
# create data
x = np.arange(4)
Master = [45, 75, 34, 22]
PhD = [25, 33, 72, 10]
width = 0.40
  
# plot data in grouped manner of bar type
bar1 = plt.bar(x-0.2, Master, width, color = 'b', label = 'Master')
bar2 = plt.bar(x+0.2, PhD, width, color = 'g', label = 'PhD')
plt.xticks(x, major)
ax.legend(handles = [bar1, bar2])
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(6,6))

# create data
x = np.arange(2)
width = 0.40
AMCS = [45, 25]
CS = [75, 33]
ECE = [34, 72]
STAT = [22, 10]

# plot data in grouped manner of bar type
width = 0.2
degree = ['Master', 'PhD']  

# plot data in grouped manner of bar type
bar1 = plt.bar(x-0.3, AMCS, width, color = 'b', label = 'AMCS')
bar2 = plt.bar(x-0.1, CS, width, color = 'g', label = 'CS')
bar3 = plt.bar(x+0.1, ECE, width, color = 'r', label = 'ECE')
bar4 = plt.bar(x+0.3, ECE, width, color = 'c', label = 'STAT')
plt.xticks(x, degree)
ax.legend(handles = [bar1, bar2, bar3, bar4])
plt.show()